/*css for the gallery page*/

.gallery{

}

.gallery-row{
	display: flex;
	flex-direction: row;
}

.gallery-item-half{
	width: 50%;
}

.gallery-item-third{
	width: 33.33333%;
}

.gallery-item-twothird{
	width: 66.66666%;
}

.gallery-pic{
	display: flex;	align-items: center;
	position: relative;
}

.gallery-pic img{
	width: 100%;
}

.gallery-corner-info{
	background-color: #ffffffbd;
	position: absolute;
	right: 0;
	bottom: 0;
}

.gallery-corner-info small{
	padding: 1em;
}

.gallery-bordered-pic-holder{
	padding: 4em;
}


@media(max-width: 800px){

	.gallery-row{
		flex-direction: column;
	}

	.gallery-item-half{
		width: 100%;
	}

	.gallery-item-third{
		width: 100%;
	}

	.gallery-item-twothird{
		width: 100%;
	}

}