/*start reset*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*---------------------------end reset------------------------*/

/*default html*/

	html{
		scroll-behavior: smooth;
	}

	body{
		font-family: Roboto, sans-serif;
		letter-spacing: 0em;
		line-height: 1.5em;
		font-size: 1.2em;
		color: #553e53;
		/*min-height: 100vh;*/
		background-color: white;
		font-weight: 300;
	}

	h1{
		font-size: 4.209em;
		font-weight: 900;
		color: white;
		line-height: 1em;
	}

	h2{
		font-size: 3.157em;
	}

	h3{
		font-size: 2.369em;
	}

	h4{
		font-size: 1.777em;
		padding: 1em 0 0.5em 0;
	}

	h5{
		font-size: 1.333em;
		padding: 1em 0 0.5em 0;
		line-height: 1.4em;
		text-transform: capitalize;
		letter-spacing: 0.02em;
	}

	.post-text h5{
		padding: 3em 0 1em;
	}

	p{
		padding: 0.5em 0;
		line-height: 1.7em;
	}

	small, .text_small {
		font-size: 0.75em;
		color: #807178;
		padding-bottom: 0.5em;
	}

	label{
	font-size: 1em;
	padding: 0.5em 0;
	font-family: Roboto, sans-serif;
	letter-spacing: 0em;
	}

	a{
		color: #de2a7e;
		text-decoration: none;
	}

	a:hover{
		color: #fc5b96;
	}

	a:visited{
		color: #a80f68;
	}

	a:visited:hover{
		color: #fc5b96;	
	}

	img{
		max-width: 100vw;
	}

	audio{
		padding: 2em 0;
	}

	iframe{
		padding: 2em 0;
	}

	code{
		padding: 1em;
		background-color: #f4f2f2;
		font-family: Courier New;
	}

	ul{
		padding: 0.5em 0;
	}

	ol{
		padding: 0.5em 0;
	}

	li{
		line-height: 1.7em;
	}

	button{
		border: 2px solid #de2a7e;
		font-size: 1em;
		font-family: Roboto, sans-serif;
		letter-spacing: 0em;
		background-color: transparent;
		color: #de2a7e;
		min-width: 5em;
		cursor: pointer;
		margin: 0.5em;
		padding: 0.5em;
		transition: 0.5s;
	}

	button:hover{
		background-color: #ffe4e9;
	}


	video{
		width: 100%;
		height: auto;
		padding-bottom: 2em;
	}


	em{
		font-style: italic;
	}

	hr{ /*line break in markdown*/
		width: 100%;
		border: none;
		height: 50px;
	}

	.button{
		border: 2px solid #de2a7e;
		font-size: 1em;
		font-family: Roboto, sans-serif;
		letter-spacing: 0em;
		background-color: transparent;
		color: #de2a7e;
		min-width: 5em;
		cursor: pointer;
		/*margin: 0.5em;*/
		padding: 0.5em;
		transition: 0.5s;
		border-radius: 0;
	}

	.button:hover{
		background-color: #ffe4e9;	
	}

	

#whole-page{
	/*min-width: 100vh;*/
	min-height: 100vh;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*max-width: 1400px;*/
	margin:auto;
}


.show{
	display: flex !important;
	height: 500px !important;
	padding-bottom: 3em;
}

.selected{
	background-color: #ffe4e9;
	border-color: #ffe4e9;
	cursor: auto;	
}

.checkmark{
	height: 36px;
	width: 36px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.333%;
	height: 0;
    background: black;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 0;
}    



/*signup form*/

	#mc_embed_signup{
		/*padding:1em 1em 10em 1em;*/
	}

	#mce-EMAIL{
		height: 2em;
		font-size: 1em;
		padding: 0.5em;
	}

	#mc-embedded-subscribe-form{
		display: flex;
		justify-content: center;
	}

	#mc_embed_signup div.mce_inline_error{
		font-weight: normal;
	}

	.mc-field-group{
		padding-bottom: 1em;
		display: flex;
		flex-direction: column;
	}


.hero-side{
	flex: 1 1;
	background-color: #2e142c;
}

/*the narrow column*/
.center-col{
	max-width: 720px;
	width: 100%;
	margin: auto;	
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;

	/*background-color: white;*/
}

.frontpage-col{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.frontpage-item{
	max-width: 720px;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	width: 100%;
	flex-direction: column;
}

/*the wide column*/
.portfolio-column{
	max-width: 1040px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.portfolio-column img{
	padding-bottom: 2em;
	max-width: max-content;
	width: 100%;
	height: auto;
	margin: auto;
}

.portfolio-column p{
	padding: 1em 0;
}

.portfoloio-column h5{
	padding-top: 2em; 
	text-transform: none;
}

.portfolio-column .center-col{
	padding-bottom: 4em;
}

.portfolio-column .post-title{
	padding:0;
}

.portfolio-spread{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.portfolio-frame{
	flex-direction: row;
	transition: 0.5s;
	overflow: clip;
	display: flex;
	height: 0;
}

.portfolio-frame img{
	width: 50%;
	/*height: max-content;*/
	padding-bottom: 0;
	margin: 0;
}


.portfolio-intro{
	background-color: #DE2A7E;
	padding: 130px 0 70px 0;
}
.portfolio-intro h5,h1{
	color: white;
}

.portfolio-about{
	 display:flex; 
	 justify-content: space-between;
}


.big-frame{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.big-frame img{
	width: 100%;
}

.big-frame.show{
	display: flex !important;
	height: 760px !important;
	padding-bottom: 3em;
}

.big-frame .portfolio-desc{
	/*align-self: end;*/
	width: 100%;
}

.big-frame p{
	text-align: right;
	position: relative;
	top: -4em;
}

.big-frame .portfolo-desc-container{
	padding: 0.5em 1em;
}

.portfolio-desc{
	width: 50%;
}

.portfolo-desc-container{
	padding: 0em 1em 0 2em;
}

.portfolo-desc-container h5{
	text-transform: inherit;
	padding-top: 0.5em;
}

.portfolo-desc-container .job-description{
	width: 100%;
}

.client-logo{
	width: 45%;
	height: 4em;
	display: flex;

	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

.filter-row{
	padding: 2em 0;
}

.line{
	height: 1px;
	width: 100%;
	background-color: #de2a7e;
	margin-bottom:1em;
}

.flex-all{
	display: flex;
	flex-direction: column;
}

.flex-left{
	display: flex;
	justify-content: flex-start;
}

.flex-right{
	display: flex;
	justify-content: flex-end;
}


.contact-info{
	/*padding:3em 1em;*/
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	/*text-align: center;*/
}

.contact-info a{
	display: flex;
	align-items: center;
}

.contact-info img{
	height: 36px;
	padding-right: 6px;
}

#main{
	min-height: 100vh;
	width: 100%;
	/*to add space below the nav*/
	/*padding-top: 80px;*/

	/*to include multiple column types*/
	display: flex;
	flex-direction: column;
}

.nav-pad{
	height: 80px;
	width: 100%;
}

.post-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
	padding: 1em 0;
}

.post-text{
	padding-bottom: 3em;
}

.post-text img{
	width: 100%;
	padding: 2em 0;
}

.post-text ul{
	padding:0.5em 3em 0.5em 1.2em;
	list-style:inherit;
}

.post-text li{
	padding-top: 0.5em;
}

.post-title small{
	padding: 1.5em 0 1em 1em;
	min-width: 120px;
}

.post-head{
	/*padding-top: 2em;*/
}

.post-head-image{
	width: 100%;
	overflow: hidden;
}

.post-head-image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 332px;
}

.post-list{
}

.post-list li{
	padding-bottom: 3em;
}

.post-preview{
	/*height: 155px;*/
	display: flex;
	flex-direction: row;
}

.image-preview a{
	height: auto;
	/*margin: 0;*/
}

.post-list .post-preview{
	height: auto;
}

.dark-text{
	color: #553e53;
}


.job-description{
	width: 50%;
	display: block;
}

.image-preview{
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 252px;
	/*margin: 0.5em 0;*/
}

.text-preview{
	position: relative;
}

.text-preview p{
	padding: 0 0 0.5em 0;
}
/*
.latest-post{
	padding-bottom: 20px;
}*/

li .content-preview{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.latest-post .content-preview{
	padding-bottom: 1em;
}

.triangle-link{
	position: absolute;
	background-color: white;
	bottom: 11px;
	right:0;
	padding-left: 20px;
}

.backtotop{
	text-align: center;
	padding:5em 0;
}

.content-preview h5{
	padding: 0 0 0.4em 0;
}

.image-preview img{
	width: 100%;
	height: auto;
	margin-top: -50%;
}

/*hamburger*/
	#hamburger-icon{
		display: none;
	 	flex-direction:column;
	 	cursor: pointer;
	 	z-index: 10;
	}

	.bar1, .bar2, .bar3 {
	  width: 30px;
	  height: 3px;
	  background-color: #de2a7e;
	  margin: 4px 0;
	  transition: 0.2s;
	}

	.change .bar1 {
	  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	  transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	  -webkit-transform: rotate(45deg) translate(-8px, -8px);
	  transform: rotate(45deg) translate(-8px, -8px);
	}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	position: absolute;
}

#nav-column{
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: 0.5s;
	z-index: 5;
}

#nav-column p{
	padding: 0 0.75em;
}


#mobile-nav-shade{
	background-color: transparent;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 2;
	display: none;
}

.site-intro{
	/*position: fixed;
	width: 120px;
	text-align: center;
	padding-left:1em;*/
	padding: 0.75em 1em;
}

.site-intro img{
	width: 120px;
}

.nav-bottom{
	height: 1000px;
	background-color: #ffeff2;
	width: 100%;
}

.social-images img{
	width: 30px;
	padding: 5px;
}

.icon-svg{
	background-color: #de2a7e;
	width: 1.7em;
    height: 1.7em;
    margin: 0 0.1em;
}

.icon-svg:hover{
	opacity: 70%;
}

.icon-title{
	-webkit-mask-image: url(/images/title.svg);
    mask-image: url(/images/title.svg);
    width: 117px;
	height: 53px;
}

.icon-link-email{
    -webkit-mask-image: url(/images/link_email.svg);
    mask-image: url(/images/link_email.svg);
}

.icon-link-linkedin{
 -webkit-mask-image: url(/images/link_linkedin.svg);
    mask-image: url(/images/link_linkedin.svg);
}

.icon-link-twitter{
	 -webkit-mask-image: url(/images/link_twitter.svg);
    mask-image: url(/images/link_twitter.svg);
}

.social-images a{
	height: 40px;
	padding: 0 0.1em;
}

.triangle-list{
	list-style: disclosure-closed;
	padding:0.5em 3em 0.5em 1.2em;
}

.whitespace{
	height: 25vh;
}

a img:hover{
	opacity: 70%;
}

.onscreen{
	top: 0px !important;
}

.visible{
	display: inherit !important;
	background-color: #00000042 !important;
	transition: 0.5s;
}

.social-images{
	/*padding-top: 1efm;*/
	display: flex;
	padding: 0 0.5em;
	align-items: center;
	justify-content: center;
}

.subscription-box{
	margin-top: 5px;
}

.sub-inner{
	padding: 1em 3em;	
}


/*post nav*/

	.neighbour-posts{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin-top: 5px;
		padding-bottom: 6em;
	}

	.neighbour-posts .flex-right{
		width: 50%;
		padding-left: 0.5em;
	}

	.neighbour-posts .flex-left{
		width: 50%;
		padding-right: 0.5em;
	}

	.neighbour-posts .image-preview{
		flex: 0 0 156px;
	}

	.neighbour-posts .content-preview{
		/*padding-left: 0;*/
	}

	.neighbour-posts .post-preview{
		/*padding: 1em;*/
	}

	.neighbour-posts h5{
		padding: 0.5em 0 0.3em 0;
	}

	.neighbour-posts .post-preview{
		height: auto;
	}

.no-desktop{
	display: none;
}

.packsframe{
	width: 100%;
	height: 100%;

}

.packsframe-container{
		max-width: 70vw;

	height: 800px;
	overflow: clip;
	margin: auto;
}

.div-breaker{
	position: relative;
	width: 100%;
	z-index: 4;
	height: 0;
}

.div-breaker-insert{
	width: 100%;
	text-align: center;
}

.client-info{
	width: 100%;
}

.client-info-container{
	width: 720px;
	max-width: 100vw;
	margin: auto;
	display: flex;
flex-direction: row;
justify-content: space-between;	
align-items: center;
margin-top: 1em;
margin-bottom: 1em;
}

.wide-pic-holder{
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

.wide-pic-holder img{
	width: 100%;
	max-width: fit-content;

}

@media(min-width: 801px) and (max-width: 1080px){
	.frontpage-col{
		flex-direction: column;
		align-items: center;
	}

}

@media(min-width: 801px) and (max-width: 1120px){
	/*.social-images{
		flex-direction: column;
	}
	#nav{
		flex: 0 0 150px;
	}

	#nav-column{
		width: 150px;
		top: 260px;
	}

	.sbpi{
		width: 150px;
		top: 90px;
	}

	.site-intro{
		width: 120px;
	}*/

	.center-col{
		padding: 0px;
	}
	.portfolio-column .center-col{
		padding: 0 0 4em 0;
	}
	.packsframe{
		width: 100%
		height: 100%;
		padding: 0;
	zoom: 0.15;
    -moz-transform:scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
	}

	.packsframe-container{
		
	}

	.portfolio-frame img{
		height: max-content;
	}
}

@media(max-width: 800px){

	.no-mobile{
		display: none;
	}

	.no-desktop{
		display: flex;
	}

	#whole-page{
		/*flex-direction: column;*/
	}

	.center-col{
		padding-left: 0;
		padding-right: 0;
	}
	.portfolio-column{
		padding: 0;
	}

	#main{
		min-height: 0;
	}

	#hamburger-icon{
		display: flex;
		padding-right: 1em;
	}

	#nav{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		flex:0 auto;
	}

	#nav-column{
		position: absolute;
		top: -31em;
		left: 0;
		width: 100%;
		background-color: white;
		padding: 1em 0;
		flex-direction: column;
	}

	.nav-bottom{
		height: 100px;
	}
	#nav-column p{
		padding: 1em 0 0.5em 0;
	}

	.mob-title{
		height: auto;
		padding: 0 1em 0 0.5em;
		max-width: 300px;
	}

	.social-images{
		padding:2em;
	}

	.site-intro{
		width: 100%;
	}

	.post-title{
		flex-direction: column;
		align-items: flex-start;
		padding: 1em;
		width: auto;
	}

	.post-text p{
		padding-left: 1em;
		padding-right: 1em;
	}

	.post-text img{
		width: 100%;
		padding: 2em 0;
	}

	.post-title small{
		padding: 0;
		width: 100%;
	}

	.post-title img{
		padding-bottom: 1em;
	}

	.post-text ul{
		padding:0.5em 1em 0.5em 2em;
	}

	.post-text ol{
		padding:0.5em 1em 0.5em 2em;
		list-style: decimal;
	}

	.post-text audio{
		padding-left:1em;
		padding-right: 1em;
	}


	.post-text h5{
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

	.flex-left{
		width: 100%;
		
	}

	.flex-right{
		justify-content: flex-start;
		width: 100%;
	}

	.neighbour-posts .flex-right{
		padding: 0 0 2em 0;
		width: 100%;
	}

	.neighbour-posts .flex-left{
		padding: 0 0 2em 0;
		width: 100%;
	}

	.neighbour-posts h5{
		text-align: left;
	}

	.post-preview{
		flex-direction: column;
	}

	li .content-preview{
		padding: 1em;
	}

	.content-preview h5{
		padding: 0.5em 0 0.5em 0;
	}

	.neighbour-posts{
		flex-direction: column-reverse;
	}

	.content-preview{
		padding-left: 1em;
		padding-right: 1em;
	}

	.subscription-box{
		padding: 0em;
	}

	.image-preview, .post-head-image{
		flex: 0 0 156px;
	}

	.portfolio-frame{
		flex-direction: column;
		display: none;
	}

	.portfolio-desc{
		width: 100%;
	}


	.portfolio-frame img{
		width: 100%;
		height: auto;
	}

	.portfolo-desc-container{
		padding:0 1em;
	}

	.client-logo{
		/*width: 100%;*/
		height: 2.5em;
		margin-bottom: 1em;
		margin-left: 20px;
	}

	/*literally just mobile padding smh*/
	.page-top{
		padding-left: 1em;
		padding-right: 1em;
	}

	.mobile-sidepad{
		padding-left: 1em;
		padding-right: 1em;
	}

	.show{
		height: 100% !important;
	}

	.big-frame.show{
		height: 100% !important;
	}

	.portfolio-column .post-title{
		padding-left: 1em;
		padding-right: 1em;
	}

	.packsframe{
		display: none;
	}


	.portfolio-intro{
		padding-left: 1em;
		padding-right: 1em;
	}

	.portfolio-about{
		flex-direction: column;
	}

	.frontpage-item{
		width: initial;
	}

	.frontpage-col{
		flex-direction: column;
	}

	.div-breaker{
	position: inherit;
	height: auto;
	}

	.client-info-container{
	max-width: 100%;
	flex-direction: column;
	align-items: start;
	margin-bottom: 0.5em;
	}

	.client-info-container.job-description{
		margin-left: 20px;
	}

}

/*safari only*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
	.filter-row{
		display: none;
	}

	

}}
