<div id="foot">
	<div class="line"></div>
		<div class="foot-content">
			<div class="foot-left">
				<a href="/about"><p>About</p></a>
				<a href="/blog"><p>Blog</p></a>
				<a href="/portfolio"><p>Portfolio</p></a>	
				<a href="/contact"><p>Contact</p></a>
				<a href="/subscribe"><p >Subscribe</p></a>
			</div>
			<div class="foot-right">
				<p>Sam Ballard</p>
				<p>sam@sunlightafterdark.com</p>
				<p>(+44)7825 760 526</p>
				<div class="social-images">
					<a href="http://twitter.com/BaronBlackmore">
						<div alt="twitter link" class="icon-link-twitter icon-svg"></div>
					</a>
					<a href="https://uk.linkedin.com/in/sam-ballard-64301133">
						<div alt="linkedin link" class="icon-link-linkedin icon-svg"></div>
					</a>
					<a href="mailto:sam@sunlightafterdark.com">
						<div alt="email me" class="icon-link-email icon-svg"></div>
					</a>
				</div>
			</div>
		</div>
</div>