<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta description="Sunlight After Dark is Sam Ballard's personal internet and collection of creative persuits.">
	<meta keywords="Indie, RPG, Game, Game Design, Pixel Art, Fashion, Sewing, Music, Coding, C#, Unity">
	<meta author="Sam Ballard">

	<title>	{{page.title}} 	</title>

	<link rel="stylesheet" href="/css/main.css">
	<script type="/scripts.js"></script> 

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

	<link rel="icon" type="image/png" href="https://www.sunlightafterdark.com/favicon/favicon.png"/>
	
	<!-- facebook tags -->
	<meta property="og:url" content="https://sunlightafterdark.com{{ page.url }}" />
	<meta property="og:image" content="https://www.sunlightafterdark.com/images/sam-profile.png" />
	<meta property="og:image:width" content="1500">
	<meta property="og:image:height" content="900">

	<!-- twitter meta -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Sunlight After Dark">
	<meta name="twitter:site" content="@baronblackmore">
	<meta name="twitter:description" content=" Sam Ballard's personal internet and collection of creative persuits.">
	<meta name="twitter:image" content="http://www.sunlightafterdark.com/images/sam-profile.png">
	<meta name="twitter:image:width" content="1200">
	<meta name="twitter:image:height" content="720">

	<meta name="theme-color" content="#de2a7e">
</head>