<div id="nav">
	
		<img alt="Sunlight After Dark" src="">
		

	<div class="hamburger-icon" onclick="hamburgerSwap(this);openNav()">
	 	<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>

	<div id="nav-column">
		<a class="no-mobile" href="www.sunlightafterdark.com"><h5>Home</h5></a>
		<a href="/blog"><h5>blog</h5></a>
		<a href="/about"><h5>about</h5></a>
		<a href="/portfolio"><h5>portfolio</h5></a>	
		<a href="/contact"><h5>contact</h5></a>
		<div class="social-images">
			<a href="http://www.facebook.com/BaronBlackmore"><img alt="facebook link" src="/images/facebook-logo.png"></a>
			<a href="http://twitter.com/BaronBlackmore"><img alt="twitter link" src="/images/twitter-logo.png"></a>
			<a href="https://instagram.com/baronblackmore/"><img alt="instagram link" src="/images/instagram-logo.png"></a>
			<a href="https://uk.linkedin.com/in/sam-ballard-64301133"><img alt="linkedin link" src="/images/linkedin-logo.png"></a>
			<a href="mailto:sam@sunlightafterdark.com"><img alt="email me" src="/images/email-icon.png"></a>

		</div>
	</div>

</div>



<div id="mobile-nav-shade"  onclick="hamburgerSwap(this);openNav()">
</div>



<script type="text/javascript">
	function hamburgerSwap(x) {
		x.classList.toggle("change");
	}

	function openNav() {
		var x = document.getElementById("nav-column");
		x.classList.toggle("onscreen");
	var x = document.getElementById("mobile-nav-shade");
		x.classList.toggle("visible");
	}

</script>