<div id="nav">
	<!-- square title image -->
	<div class="site-intro">
		<a href="https://sunlightafterdark.com">
			<!-- <img alt="Sunlight After Dark logo" src="/images/title.png"> -->
			<div class="icon-title icon-svg"></div>
		</a>
	</div>
	
	<!-- "sam ballards personal internet" -->
	<!-- 
	<div class="sbpi no-mobile">
		<img src="/images/cloudline-1.png" class="cloudline" alt="pink clouds background">
		<p style="text-align: center; color: #de2a7e; padding:0 20px;" >Sam Ballard's personal internet</p>
		<img src="/images/cloudline-2.png" class="cloudline" alt="pink clouds background">
	</div> -->
	
	<!-- skinny mobile site title image -->
	<!-- <a class="mob-title" href="https://sunlightafterdark.com">
		<img class="no-desktop" style="width: 100%" alt="Sunlight After Dark" src="/images/title-skinny.png">
	</a> -->

	<!-- hamburger icon -->
	<div id="hamburger-icon" onclick="hamburgerSwap(this);openNav()">
	 	<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>

	<!-- stuff in the dropdown -->
	<div id="nav-column">
		<a href="/about"><p>About</p></a>
		<a href="/blog"><p>Blog</p></a>
		<a href="/portfolio"><p>Portfolio</p></a>	
		<a href="/contact"><p>Contact</p></a>
		<a href="/subscribe"><p >Subscribe</p></a>

		<!-- pic of clouds -->
		<!-- <img src="/images/cloudline-3.png" class="cloudline" style="width: 100%;" alt="pink clouds background"> -->
<!-- 
		<div class="nav-bottom">
</div>
 -->

		<div class="social-images">
			<!-- <a href="http://www.facebook.com/BaronBlackmore"><img alt="facebook link" src="/images/link_facebook.png"></a> -->
			<a href="http://twitter.com/BaronBlackmore">
				<div alt="twitter link" class="icon-link-twitter icon-svg"></div>
			</a>
			
			<a href="https://uk.linkedin.com/in/sam-ballard-64301133">
				<div alt="linkedin link" class="icon-link-linkedin icon-svg"></div>
			</a>
			
			<a href="mailto:sam@sunlightafterdark.com">
				<div alt="email me" class="icon-link-email icon-svg"></div>
			</a>

		
		</div>
	</div>

</div>



<div id="mobile-nav-shade"  onclick="hamburgerSwap(this);openNav()">
</div>



<script>
	function hamburgerSwap(x) {
		var x = document.getElementById("hamburger-icon");
		x.classList.toggle("change");
	}

	function openNav() {
		var x = document.getElementById("nav-column");
		x.classList.toggle("onscreen");
	var x = document.getElementById("mobile-nav-shade");
		x.classList.toggle("visible");
	}

</script>