<div id="nav">
	<div class="site-intro no-mobile">
		<a href="www.sunlightafterdark.com"><img alt="Sunlight After Dark" src="images/title.png"></a>
		<div class="line" style="margin:1em 0 0 0"></div>
		<p style="text-align: center; color: #de2a7e">Sam Ballard's Personal internet</p>
		<div class="line"></div>
	</div>

	<img class="no-desktop" style="height: 33px" alt="Sunlight After Dark" src="images/title-skinny.png">

	<div class="hamburger-icon" onclick="hamburgerSwap(this);openNav()">
	 	<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>

	<div id="nav-column">
		<a href="/blog"><h5>Blog</h5></a>
		<a href="/about"><h5>About</h5></a>
		<a href="/portfolio"><h5>Portfolio</h5></a>	
		<a href="/contact"><h5>Contact</h5></a>
		<a href="/Subscribe" class="no-desktop"><h5>Subscribe</h5></a>

		<div style="margin-top:1em" class="line no-mobile"></div>
		<div class="social-images">
			<a href="http://www.facebook.com/BaronBlackmore"><img alt="facebook link" src="images/link_facebook.png"></a>
			<a href="http://twitter.com/BaronBlackmore"><img alt="twitter link" src="images/link_twitter.png"></a>
			<a href="https://instagram.com/baronblackmore/"><img alt="instagram link" src="images/link_instagram.png"></a>
			<a href="https://uk.linkedin.com/in/sam-ballard-64301133"><img alt="linkedin link" src="images/link_linkedin.png"></a>
			<a href="mailto:sam@sunlightafterdark.com"><img alt="email me" src="images/link_email.png"></a>

		</div>
	</div>

</div>



<div id="mobile-nav-shade"  onclick="hamburgerSwap(this);openNav()">
</div>



<script type="text/javascript">
	function hamburgerSwap(x) {
		x.classList.toggle("change");
	}

	function openNav() {
		var x = document.getElementById("nav-column");
		x.classList.toggle("onscreen");
	var x = document.getElementById("mobile-nav-shade");
		x.classList.toggle("visible");
	}

</script>